@import "../../../../_variables";
@import "../../../../_mixins";
.navbar {
  @include gradient;
  img {
    min-width: 5rem;
    @media screen and (max-width: 480px) {
      min-width: 4rem;
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-weight: 600;
        text-transform: uppercase;
        color: $color-white;
        padding: 0 1rem;
        @media screen and (max-width: 480px) {
          font-size: .75rem;
        }
      }
    }
  }
}
