<div class="recipe-content">
  <img src="{{recipe.icon}}"/>
  <h1>{{recipe.title_icon}}</h1>
  <div class="detail">
    <div class="">
      <img (click)="openModal()" src="{{recipe.image}}">
    </div>
    <div class="">
      <h2>Ingredientes</h2>
      <ul class="bullets">
        <li *ngFor="let ingredient of recipe.ingredients">{{ingredient}}</li>
      </ul>
      <h2>Preparación</h2>
      <div class="row" *ngFor="let preparation of recipe.preparation; let i = index">
        <div class="col-auto">{{i + 1}}</div>
        <div class="col">{{preparation}}</div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="modal">
  <app-modal (close)="openModal()">
    <div class=".modal-body">
      <youtube-player
        videoId="{{recipe.video}}"
        [height]=""
        [width]=""
        [ngClass]="'embed-responsive embed-responsive-16by9'">
      </youtube-player>
    </div>
  </app-modal>
</div>
