<div class="recipe-content">
  <div class="row">
    <div class="col-12 col-md-5">
      <div class="image-recipe">
        <img (click)="openModal()" src="{{recipe.image}}">
      </div>
    </div>
    <div class="col-12 col-md-7">
      <div class="detail">
        <div class="main-title">
          <img class="recipe-icon" src="{{recipe.icon}}"/>
          <h1>{{recipe.title_icon}}</h1>
        </div>
        <div class="content">
          <h2>Ingredientes</h2>
          <ul class="bullets">
            <li [ngClass]="{
            'nada':
              (recipe.id === 'pannacota' && (i === 0 || i === 7)) ||
              (recipe.id === 'fresas' && (i === 0 || i === 4))
            }" [innerHTML]="ingredient" *ngFor="let ingredient of recipe.ingredients; let i = index"></li>
          </ul>
          <h2>Preparación</h2>
          <div class="row">
            <div class="col steps count-{{recipe.preparation.length}}">
              <ng-container *ngIf="recipe.preparation.length > 2; else simple">
                <ng-container *ngFor="let preparation of recipe.preparation; let i = index">
                  <div *ngIf="i%2===0" class="row">
                    <div class="col">
                      <div class="row no-gutters">
                        <div class="col-auto number">{{i + 1}}</div>
                        <div class="col" [innerHTML]="preparation"></div>
                      </div>
                    </div>
                    <div class="col" *ngIf="recipe.preparation.length > i+1">
                      <div class="row no-gutters">
                        <div class="col-auto number">{{i + 2}}</div>
                        <div class="col" [innerHTML]="recipe.preparation[i+1]"></div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-template #simple>
                <div class="row no-gutters" *ngFor="let preparation of recipe.preparation; let i = index">
                  <div class="col-auto number">{{i + 1}}</div>
                  <div class="col" [innerHTML]="preparation"></div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="modal">
  <app-modal (close)="openModal()">
    <div class=".modal-body">
      <youtube-player
        videoId="{{recipe.video}}"
        [ngClass]="'embed-responsive embed-responsive-16by9'">
      </youtube-player>
    </div>
  </app-modal>
</div>
