<div class="recipe-content">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="image-recipe">
        <img (click)="openModal()" src="{{recipe.image}}">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="detail">
        <div class="main-title">
          <img class="recipe-icon" src="{{recipe.icon}}"/>
          <h1>{{recipe.title_icon}}</h1>
        </div>
        <div class="content">
          <h2>Ingredientes</h2>
          <ul class="bullets">
            <li [ngClass]="{'nada': recipe.id === 'pannacota' && (i === 0 || i === 7)}" [innerHTML]="ingredient" *ngFor="let ingredient of recipe.ingredients; let i = index"></li>
          </ul>
          <h2>Preparación</h2>
          <div class="col steps">
            <div class="row" *ngFor="let preparation of recipe.preparation; let i = index">
              <div class="col-auto number">{{i + 1}}</div>
              <div class="col" [innerHTML]="preparation"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="modal">
  <app-modal (close)="openModal()">
    <div class=".modal-body">
      <youtube-player
        videoId="{{recipe.video}}"
        [ngClass]="'embed-responsive embed-responsive-16by9'">
      </youtube-player>
    </div>
  </app-modal>
</div>
