@import "../../../_variables";
@import "../../../_mixins";

.recipe-content {
  padding-top: 5rem;
  padding-bottom: 2rem;
  @media screen and (max-width: 767px) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .image-recipe {
    img {
      margin-top: 3rem;
      transition: all ease-in 500ms;
      transform-style: preserve-3d;
      -webkit-box-shadow: 0px -2px 20px -12px rgba(163,163,163,1);
      -moz-box-shadow: 0px -2px 20px -12px rgba(163,163,163,1);
      box-shadow: 0px -2px 20px -12px rgba(163,163,163,1);
      @media screen and (max-width: 767px) {
        margin-top: 0;
        margin-bottom: 1rem;
      }
      &:hover {
        cursor: pointer;
        -webkit-box-shadow: 0px -2px 23px -10px rgba(163,163,163,1);
        -moz-box-shadow: 0px -2px 23px -10px rgba(163,163,163,1);
        box-shadow: 0px -2px 23px -10px rgba(163,163,163,1);
      }
    }
  }
  .detail {
    .main-title {
      text-align: center;
      position: relative;
      margin-bottom: 2rem;
      .recipe-icon {
        font-size: 2rem;
      }
      h1 {
        font-weight: 600;
        &::after {
          content: url('../../../assets/images/titles/after.png');
          position: absolute;
          bottom: -2rem;
          left: 0;
          right: 0;
        }
      }
    }
    .content {
      font-size: .75rem;
      h2 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }
      .steps {
        .row {
          border-top: 2px solid $color-black;
          padding: .25rem 0;
          align-items: center;
          .number {
            @include paragraphs(3rem, 1);
            font-family: $font-number;
          }
        }
        &:last-child {
          border-bottom: 2px solid $color-black;
        }
      }
    }

  }
}
