@import "../../../_variables";
@import "../../../_mixins";

.nav-recipes-mobile {
  .title-recipe-mobile {
    .logo-tres {
      max-height: 7rem;
      margin-bottom: 1rem;
    }
  }
  .row-item {
    border-top: 2px solid $color-text;
    &.active {
      h2 {
        color: $color-red;
        font-weight: 600;
      }
      i {
        transform: rotateX(180deg);
        color: $color-red;
      }
    }
    h2 {
      font-size: 1rem;
      font-weight: 600;
      padding: 1rem;
      margin-bottom: 0;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        color: $color-red;
      }
    }
    i {
      transition: all ease-in 400ms;
    }
  }

}
