<div class="container nav-recipes-mobile" *ngFor="let item of data.getRecipes(); let i = index">
  <div class="row" [ngClass]="!collapseItems[i] ? 'active': ''">
    <div class="col">
      <h2 (click)="collapse(i)">{{item.title}}</h2>
    </div>
    <div class="col-auto align-self-center">
      <i class="fas fa-chevron-down"></i>
    </div>
  </div>
  <div [ngbCollapse]="collapseItems[i]">
    <app-detail-recipe (video)="showModal($event)" [id]="i" [recipe]="item"></app-detail-recipe>
  </div>
</div>
<div *ngIf="modal">
  <app-modal (close)="closeModal()">
    <div class=".modal-body">
      <youtube-player
        videoId="{{this.video}}"
        [ngClass]="'embed-responsive embed-responsive-16by9'">
      </youtube-player>
    </div>
  </app-modal>
</div>
