@import "../../../../_variables";
@import "../../../../_mixins";
.modal-cover {
  @include dimensions(100vh, 100%);
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.70);
  z-index: 100;
  justify-content: center;
}
.modal-header {
  border-bottom: 0;
  padding: 0;
  .close {
    color: $color-red;
    position: absolute;
    left: -2rem;
    margin: 0;
    padding: 0;
    span {
      text-shadow: none;
      font-size: 2.5rem;
    }
    &:focus {
      outline: none;
    }
    i:focus {
      outline: none;
    }
  }
}

.modal-content {
  z-index: 101;
}
.modal-dialog {
  position: fixed;
  display: flex;
  z-index: 101;
  top: 0;
  width: 100%;
  margin: 2.75rem auto;
}
.modal-body {
  padding: 0;
}
